<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
              <a href="/">
                <img src="{{ SITEURL }}/images/logo-africa-2035.svg" alt="Africa 2035" class="footer-logo">
              </a>
            </div>
            <div class="col-md-6 text-md-end">
                <p>For questions, please contact Mike Johnson at mikejohnson@gfa.org, or call 972-300-3186 (office)</p>
                <p>
                    GFA World USA<br>
                    1116 St. Thomas Way<br>
                    Wills Point, TX 75169
                </p>
            </div>
        </div>
    </div>
</footer>

