<!-- Menu Button -->
<button class="menu-btn" id="menuToggle">
    <span class="menu-text" id="menuText">MENU</span>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</button>

<!-- Menu Drawer -->
<div class="menu-drawer" id="menuDrawer">
    <nav class="menu-nav">
      {# <a href="#" class="menu-item">A Letter From Our Founder</a> #}
        <a href="/" class="menu-item">Home</a>
        <a href="/bcmch" class="menu-item">Our History of Medical Ministry</a>
        <a href="/rwanda-hospital" class="menu-item">The Rwanda Hospital and Medical University</a>
        <a href="/gfa-world" class="menu-item">About Us</a>
        <a href="/advisors" class="menu-item">Advisors</a>
        <a href="https://www.gfa.org/africa/hospital/" class="menu-item">Donate <img style="max-width: 20px; margin-top: -4px;" src="{{ SITEURL }}/images/external-link.svg"></a>
    </nav>
</div>

<!-- Menu Overlay -->
<div class="menu-overlay" id="menuOverlay"></div>
